<%include ../partials/header%>
<div class="container">
	<div class="row">
		<div>
			<h1>Leave a Comment About <%= campground.name %></h1>

			<form action="/campgrounds/<%=campground._id%>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="Text">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="comment[author]" placeholder="Author">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>	
</div>


<%include ../partials/footer%>