<%include partials/header%>
<h1>Create a new campground</h1>

<form action="/campgrounds" method="POST">
	<input type="text" name="newName" placeholder="Campground Name">
	<input type="text" name="newImage" placeholder="Image URL">
	<button>Submit</button>
</form>



<%include partials/footer%>